{% extends 'base.html' %} 

{% block title%} {{ object.nome }} {% endblock %}

{% block content %}

<main class='fundo-azul' style='min-height: 789px;'>
    <div class='voltar'>
        <h1><a href="{% url 'campeonato:meuscampeonatos' %}">Voltar aos meus campeonato </a></h1>
    </div>
    <div class="lg:py-16 px-16 justify-between w-full flex flex-col lg:flex-row">
    <div class="flex w-full lg:w-9/12 mb-4 lg:mb-0">
        <div class='overflow-x-auto'>
        <table class='table-auto'>
            <tr>
                <th>Posição<th class='campo-maior'>Equipe<th>Pontos<th>Vitórias<th>Empates<th>Derrotas<th>Gols Pró<th>Gols Contra<th>Aproveitamento
            </tr>
            
            {% for equipe in object.equipes_campeonato.all %}
            
            <tr>
                <th>{{ forloop.counter }}º
                <td><a href="{% url 'campeonato:detalhes' equipe.id %}">{{ equipe.nome }}</a>
                <td>{{ equipe.pontos }}
                <td>{{ equipe.vitorias }}
                <td>{{ equipe.empates }}
                <td>{{ equipe.derrotas }}
                <td>{{ equipe.gols_feitos }}
                <td>{{ equipe.gols_sofridos }}
                <td>{{ equipe.aproveitamento }} %
                
            </tr>
            
            {% endfor %}

        </table>
    </div>
    </div>
    <div class="lg:flex lg:w-3/12 bg-blue-800 flex-col rounded-xl" style='min-height:350px;'>
            {% for rodada,jogos in rodadas.items %}
                <h1 class='rodada'>{{ rodada }}</h1>
                {% for jogo in jogos %}
                <div class='jogo py-1' style='margin-top:40px;'>
                    <h1 class='text-lg font-bold'>Local </h1>
                    <h1 class='text-lg font-bold'>Horário </h1>
                    <h1 class='text-xl font-bold pt-4'>
                        {{ jogo }}<br>
                        <input type='number' style='width: 50px; background-color: light-gray; border: 1px solid black;padding: 5px;' name="placar_{{ forloop.counter0 }}_"> X 
                        <input type='number' style='width: 50px; background-color: light-gray; border: 1px solid black;padding: 5px;'>
                    </h1>
                </div>
                
                {% endfor %}
            {% endfor %}
       
            
        <div class="flex justify-between">
            <a href="#"><h1 class='avancar_voltar'><span class="material-symbols-outlined">
                arrow_back
                </span></h1><a>
            <a href="#"><h1 class='avancar_voltar'><span class="material-symbols-outlined">
                arrow_forward
                </span></h1></a>

        </div>
    </div>
</main>

{% endblock %}
