{% extends 'base.html' %}
{% block title %}Meus Campeonatos {% endblock %}

{% block content %}

<main class='fundo-azul py-2 flex justify-evenly' style='min-height: 82.5vh;'>
    {% for campeonato_selecionado in lista_campeonatos %}
    <div class='campeonatoclasse mt-16'>
        <p><a href="{% url 'campeonato:campeonato_dados' campeonato_selecionado.id %}"><span style="font-size: 1.7rem; font-weight: 700;">{{ campeonato_selecionado }}</span></a><br> Número de competidores: {{ campeonato_selecionado.numero_de_equipes }}<br>Formato: {{ campeonato_selecionado.formato }} <br>Jogos de ida e volta: {{ campeonato_selecionado.jogos_ida_e_volta }}
        </p>
        <a href="{% url 'campeonato:campeonato_dados' campeonato_selecionado.id %}" style="color: blue;">Ver campeonato</a><br>
        <a href="{% url 'campeonato:campeonato_edit' campeonato_selecionado.id %}" style="color: green;">Editar Campeonato</a><br>
        <button onclick="excluirCampeonato({{ campeonato_selecionado.id }})" style="color: red;">Excluir Campeonato</button>
        
        
    </div>
    {% endfor %}
</main>

{% endblock %}