{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Detalhes da equipe {% endblock %}

{% block content %}

<main class='fundo-azul py-2' style='min-height: 789px;'>
    <div class='centro' style="min-height: 789px;">
        <div class='opcoes3'>
        <h1>{{ object.nome|upper }}<h1>
        </div>
        {% for player in equipe.jogadores.all %}
                <div class='jogador'>
                   Nome: {{ player.nome|upper }} | Número: {{ player.numero }} |
                    Data de nascimento: {% if player.data_nascimento %}
                      {{ player.data_nascimento }} |
                    {% else %}
                    <span style="color: red;">DATA NÃO INFORMADA </span>|
                    {% endif %}
                     Posição:   {{ player.posicao|upper }}
                </div>
        {% endfor %}
        
    <div>

</main>

{% endblock %}